$breaking_point1: 992px
$breaking_point2: 720px
$breaking_point3: 540px

$bg_pj1: #EF5C32
$bg_bg_pj1: #160906

$bg_pj2: #47CCFB
$bg_bg_pj2: #071825

$bg_pj3: #292929
$bg_bg_pj3: #B8B8B8

$bg_pj4: #52A6E6
$bg_bg_pj4: #113855

$bg_pj5: #e7c54b
$bg_bg_pj5: #2b240e

$bg_pj6: #F3C9AE
$bg_bg_pj6: #291B19

$bg_pj7: #EC5242
$bg_bg_pj7: #291B19

$bg_pj8: #3097d3
$bg_bg_pj8: #0F1010

$bg_pj9: #ED4631
$bg_bg_pj9: #1C1717

$bg-article: #F4F3F3
$bg-footer: #292929

$my-motto: #333
$bootsrap-secondary: #6C757D
$my_green: #57BA86

$torre-yellow: #CDDC39
$torre-green: #8bc34a
$torre-black: #27292D
$torre-orange: #D69600

$my-name: $torre-green

@mixin padding-x($pad-x)
  padding-right: $pad-x
  padding-left: $pad-x

@mixin linear-gradient($direction, $color-stops...)
  background: nth(nth($color-stops, 1), 1)
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops)
  background: linear-gradient($direction, $color-stops)

@keyframes spinning
  0%
    font-size: 1em
    transform: rotate(0deg)
  100%
    font-size: 1em
    transform: rotate(360deg)

@keyframes hover_cv
  0%
    color: white
    transform: scale(1)
  100%
    color: $my_green
    transform: scale(1.3)

@keyframes hover_angel
  0%
    color: white
    transform: scale(1)
  100%
    color: black
    transform: scale(1.3)

@keyframes hover_twitter
  0%
    color: white
    transform: scale(1)
  100%
    color: #1DA1F2
    transform: scale(1.3)

@keyframes hover_github
  0%
    color: white
    transform: scale(1)
  100%
    color: #24292e
    transform: scale(1.3)

@keyframes hover_linkedin
  0%
    color: white
    transform: scale(1)
  100%
    color: #0e76a8
    transform: scale(1.3)

@keyframes hover_say-hello
  0%
    transform: rotateZ(0deg)
    background-color: white
    color: #4A4A4A
  25%
    transform: rotateZ(7deg)
  50%
    transform: rotateZ(-7deg)
  100%
    font-stretch: extra-expanded
    transform: rotateZ(0deg)
    background-color: $my_green

@keyframes hover_technical
  0%
    transform: scale(1)
    background-color: white
    color: #4A4A4A
  100%
    transform: scale(1.1)
    background-color: #F72210

@keyframes hover_soft
  0%
    transform: scale(1)
    background-color: white
    color: #4A4A4A
  100%
    transform: scale(1.1)
    background-color: $my_green

@keyframes hover_framework
  0%
    transform: scale(1)
    background-color: white
    color: #47CCFB
  100%
    transform: scale(1.1)
    background-color: #47CCFB

@keyframes hover_i-letter
  0%
    position: relative
    transform: rotateZ(0deg)
    color: white
  20%
    color: $my_green
    transform: rotateZ(180deg)
  25%
    color: white
  40%
    transform: rotateZ(360deg)
    color: $bg_pj2
    top: 0
  45%
    color: white
  60%
    transform: rotateZ(540deg)
    color: $bg_pj3
  65%
    color: white
  80%
    transform: rotateZ(720deg)
    color: $bg_pj4
    top: 0
  85%
    color: white
  100%
    transform: rotateZ(900deg)
    color: $my-name
    position: relative

@keyframes hover_my-university
  0%
    transform: scale(1)
    background-color: white
  100%
    transform: scale(1)
    background-color: #6A449A
    color: white

@keyframes hover_my-school
  0%
    transform: scale(1)
  100%
    transform: scale(1)
    background-color: #6F23FF
    color: white

@keyframes hover_my-work
  0%
    transform: scale(1)
    color: $torre-black
  100%
    transform: scale(1)
    background-color: $torre-green
    color: $torre-yellow

@keyframes fade_out
  0%
    opacity: 1
  100%
    opacity: 0

@keyframes fade_in
  0%
    display: none
    opacity: 0
  100%
    display: block
    opacity: 1

@keyframes swing_from_left
  0%
    visibility: hidden
    left: -500px
    opacity: 0
  100%
    visibility: visible
    left: 0
    opacity: 1


html
  user-select: none
  *
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Fira Sans', sans-serif
    outline: 0
    color: $torre-green
  a
    color: $torre-green
    &:hover
      text-decoration: none
  @media ( min-width: 0 )
    scroll-behavior: smooth
    overflow-y: scroll
    scroll-snap-type: y proximity


body
  min-width: 300px
  .left-bar
    overflow-y: auto
    max-height: 850px
    @include padding-x( $pad-x: 45px )
    .hovering-area
      &:hover > #i-letter
        animation-name: hover_i-letter
        animation-duration: 4s
        animation-iteration-count: infinite
    #i-letter
      display: inline-block
      color: $my-name
    #play
      position: relative
      top: 8px
      left: 10px
      cursor: pointer
      color: $my-name
      &:hover
        transform: scale(1.1)
        color: $my_green
      @media ( max-width: 410px )
        left: -35px
    .my-school
      display: inline-block
      color: $torre-yellow
      font-weight: 500
      &:hover
        border-radius: 2px
        animation-name: hover_my-school
        animation-duration: 1s
        animation-fill-mode: forwards
    .my-university
      display: inline-block
      color: $torre-yellow
      font-weight: 500
      &:hover
        border-radius: 2px
        animation-name: hover_my-university
        animation-duration: 1s
        animation-fill-mode: forwards
    .my-work
      display: inline-block
      color: $torre-yellow
      font-weight: 500
      &:hover
        border-radius: 2px
        animation-name: hover_my-work
        animation-duration: 1s
        animation-fill-mode: forwards
    .skills
        cursor: default
        .badge
          background-color: $torre-yellow
          color: white
        .technical
          &:hover
            animation-name: hover_technical
            animation-duration: 0.5s
            animation-fill-mode: forwards
        .soft
          &:hover
            animation-name: hover_soft
            animation-duration: 0.5s
            animation-fill-mode: forwards
        .framework
          &:hover
            animation-name: hover_framework
            animation-duration: 0.5s
            animation-fill-mode: forwards
    .open-for-job
      color: $bg_pj1
      font-weight: 600
    .social-media-links
      a
        color: $torre-green
      .link-cv
        &:hover
          animation-name: hover_cv
          animation-duration: 0.5s
          animation-fill-mode: forwards
      .link-angel
        &:hover
          animation-name: hover_angel
          animation-duration: 0.5s
          animation-fill-mode: forwards
      .link-twitter
        &:hover
          animation-name: hover_twitter
          animation-duration: 0.5s
          animation-fill-mode: forwards
      .link-linkedin
        &:hover
          animation-name: hover_linkedin
          animation-duration: 0.5s
          animation-fill-mode: forwards
      .link-github
        &:hover
          animation-name: hover_github
          animation-duration: 0.5s
          animation-fill-mode: forwards
    .say-hello-wrapper
      .say-hello
        background-color: $torre-yellow
        color: white
        height: auto
        &:hover
          animation-name: hover_say-hello
          animation-duration: 1s
          animation-fill-mode: forwards
    @media ( min-width: $breaking_point3 )
      @include padding-x( $pad-x: 60px )
      .my-name
        font-size: 35px
    @media ( min-width: $breaking_point2 )
      @include padding-x( $pad-x: 60px )
      .my-name
        font-size: 5vw
      .my-motto, .skills
        width: 80%
      .skills
        font-size: 0.9rem
    @media ( min-width: $breaking_point1 )
      @include padding-x( $pad-x: 60px )
      max-width: 650px
      position: fixed
      bottom: 0
      height: 100vh
      width: 42%
      .my-name
        font-size: 3rem
      .my-motto,
      .skills
        font-size: 1.2rem
        width: 100%
    @media ( min-width: 1100px )
      @include padding-x( $pad-x: 70px )
    @media ( min-width: 1200px )
      @include padding-x( $pad-x: 80px )
    @media ( min-width: 1300px )
      @include padding-x( $pad-x: 90px )
    @media ( max-height: 710px )
      @media ( min-width: $breaking_point1 )
        @include padding-x($pad-x: 40px )
        padding-top: 4%
        padding-bottom: 1%
        .say-hello-wrapper
          margin-bottom: 0
          padding: 0
        .say-hello
          margin-bottom: 0
          padding: 0
        .my-motto
          p
            font-size: 1.1rem
        .my-name
          font-size: 2.2rem
        .skills
          .badge
            font-size: 0.8rem
    @media ( max-height: 580px )
      .my-motto
        p
          font-size: 1.0rem
    @media ( max-height: 580px )
      .my-motto
        p
          font-size: 0.9rem
    @media ( max-height: 520px )
      .skills
          .badge
            font-size: 0.7rem
    @media ( max-height: 480px )
      .my-motto
        p
          font-size: 0.8rem
  .btn-hello
    width: 175px
  .my-name
    color: $my-name
    font-weight: bolder
  .skills
    .skill
      color: white
      background-color: $bg_bg_pj1
      font-weight: 400
      text-transform: uppercase
    .title
      text-transform: uppercase
      font-weight: 400
  .my-motto
    color: $my-motto
    font-weight: 500
  .social-media-links
    width: 225px
    font-size: 33px
  section
    .projects
      scroll-snap-align: center
    p
      font-weight: 500
    height: auto
    width: 100%
    font-weight: 300
    .badges .badge
      font-weight: 200
      @media ( max-width: $breaking_point3 )
        font-size: 2.5vw
    a .fas,
    a .fab
      font-size: 20px
      color: white
      &:hover
        color: #20677a
    @media ( min-width: $breaking_point2 )
      height: auto
      padding-top: calc( 12vh )
    @media ( min-width: $breaking_point1 )
      height: 100vh
      min-height: 620px
      padding-top: calc( 13vh )
    .overcapture
      height: auto
      width: 100%
      max-width: 900px
      margin: 0 auto
      text-align: center
      padding-top: 10vh
      padding-bottom: 10vh
      @media ( min-width: $breaking_point1 )
        padding-bottom: 0
        padding-top: 0
        height: 80%
      img
        margin: 0 auto
        margin-top: 3vh
        width: 95vw
        margin-top: 5vh
        margin-bottom: 5vh
        @media ( min-width: $breaking_point1 )
          width: 45vw
          max-width: 650px
          margin-top: 3vh
          margin-bottom: 3vh
    .project-spesific-skills
      font-size: 1.1em
      .badge
        font-weight: 400
        color: white
      div
        text-transform: uppercase
    .live-link
      position: relative
      .spinner
        position: absolute
        animation-name: spinning
        animation-duration: 6s
        animation-iteration-count: infinite
        animation-timing-function: linear
        left: 14px
        top: 11px

  .project1
    .include-text-color
      color: $bg_bg_pj1
    background-color: $bg_pj1
    .project-spesific-skills
      .badge
        background-color: $bg_bg_pj1
    a .fas,
    a .fab
      &:hover
        color: $bg_bg_pj1
  .project2
    .include-text-color
      color: $bg_bg_pj2
    background-color: $bg_pj2
    .project-spesific-skills
      .badge
        background-color: $bg_bg_pj2
    a .fas,
    a .fab
      &:hover
        color: $bg_bg_pj2
  .project3
    .include-text-color
      color: $bg_bg_pj3
    background-color: $bg_pj3
    .project-spesific-skills
      .badge
        background-color: $bg_bg_pj3
    a .fas,
    a .fab
      &:hover
        color: $bg_bg_pj3
  .project4
    .include-text-color
      color: $bg_bg_pj4
    background-color: $bg_pj4
    .project-spesific-skills
      .badge
        background-color: $bg_bg_pj4
    a .fas,
    a .fab
      &:hover
        color: $bg_bg_pj4
  .project5
    .include-text-color
      color: $bg_bg_pj5
    background-color: $bg_pj5
    .project-spesific-skills
      .badge
        background-color: $bg_bg_pj5
    a .fas,
    a .fab
      &:hover
        color: $bg_bg_pj5
  .project6
    .include-text-color
      color: $bg_bg_pj6
    background-color: $bg_pj6
    .project-spesific-skills
      .badge
        background-color: $bg_bg_pj6
    a .fas,
    a .fab
      &:hover
        color: $bg_bg_pj6
  .project7
    .include-text-color
      color: $bg_bg_pj7
    background-color: $bg_pj7
    .project-spesific-skills
      .badge
        background-color: $bg_bg_pj7
    a .fas,
    a .fab
      &:hover
        color: $bg_bg_pj7
  .project8
    .include-text-color
      color: $bg_bg_pj8
    background-color: $bg_pj8
    .project-spesific-skills
      .badge
        background-color: $bg_bg_pj8
    a .fas,
    a .fab
      &:hover
        color: $bg_bg_pj8
  .project9
    .include-text-color
      color: $bg_bg_pj9
    background-color: $bg_pj9
    .project-spesific-skills
      .badge
        background-color: $bg_bg_pj9
    a .fas,
    a .fab
      &:hover
        color: $bg_bg_pj9
  .articles
    background-color: $bg-article
    color: $bg-footer
    padding-bottom: 15%
    @media ( max-width: $breaking_point2 )
      padding-top: calc( 12vh )
    a,
    a .fas,
    a .fab
      color: $bg-footer
      &:hover
        color: $bootsrap-secondary
    .article-separator
      border-bottom: 10px solid $bootsrap-secondary
  footer
    .email
      user-select: all
    scroll-snap-align: center
    color: white
    background-color: $torre-green
  .thanks
    font-family: sans-serif
    font-size: 8px

.loading
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  font-size: 3em
  background: linear-gradient(115deg, #ffffff 0%, $torre-yellow 50%, $torre-yellow 100%)
  z-index: 199
  width: 100vw
  height: 100vh
  .spinner
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;

.fade-out
  animation-name: fade_out
  animation-duration: 1s
  animation-fill-mode: forwards

.fade-in
  animation-name: fade_in
  animation-duration: 1s
  animation-fill-mode: forwards

.swing-from-left
  animation-name: swing_from_left
  animation-duration: 1.5s
  animation-fill-mode: forwards

.hidden
  position: relative
  left: -500px
  visibility: hidden

.double-bounce1, .double-bounce2
  width: 100%
  height: 100%
  border-radius: 50%
  background-color: #ffffff
  opacity: 0.6
  position: absolute
  top: 0
  left: 0
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out
  animation: sk-bounce 2.0s infinite ease-in-out


.double-bounce2
  -webkit-animation-delay: -1.0s
  animation-delay: -1.0s

@-webkit-keyframes sk-bounce
  0%, 100%
    -webkit-transform: scale(0.0)
  50%
    -webkit-transform: scale(1.0)

@keyframes sk-bounce
  0%, 100%
    transform: scale(0.0)
    -webkit-transform: scale(0.0)
  50%
    transform: scale(1.0)
    -webkit-transform: scale(1.0)
