// * {
//   border: 1px red solid;
// }

html body {
  background-color: #F4F3F3;
  min-width: 350px;
  color: rgb(44, 44, 44);
}

#who-am-i {
  //font-family: 'Carrois Gothic SC', sans-serif;
  font-family: 'Baloo Chettan 2', cursive;
  p {
    font-weight: 600;
  }
  background: rgb(244,243,243);
  background: linear-gradient(0deg, rgba(244,243,243,1) 0%, rgba(108,117,125,1) 100%);
}

.projects {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
  a:hover {
    color:  rgb(44, 44, 44);
  }
  li {
    background: rgb(244,243,243);
    background: linear-gradient(0deg, rgba(108,117,125,1) 0%, rgba(244,243,243,1) 100%);
  }
}

.text-jamilia {
  color: #F4F3F3;
}

.badge-jamilia {
  background-color: #F4F3F3;
  color: rgb(121, 135, 148);
}

.bg-jamilia {
  background-color:  rgb(121, 135, 148);
  color: #F4F3F3;
}

#vesika { 
  max-width: 170px;
}

.contact-card {
  h2 {
    font-size: 18px;
  }
  p {
    text-transform: uppercase;
  }
}

#social-media-links a {
  color: rgb(44, 44, 44);
  :hover {
    color: #6C757D;
  }
  i {
    font-size: 35px;
    width: 50px;
    height: 50px;
  }
}

.media .project-visual {
  width: 100px;
  height: 100px;
}

