* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  background-color: #f4f3f3;
  min-width: 350px;
  color: rgb(44, 44, 44);
  .body-big {
    min-width: 750px;
    max-width: 1120px;
    .column-md-6 {
      font-size: 25px;
      background: rgb(244, 243, 243);
      background: linear-gradient(
        0deg,
        rgba(108, 117, 125, 1) 0%,
        rgba(244, 243, 243, 1) 100%
      )
    }
    .project-visual-big {
      max-width: 500px;
    }
  }
}

.who-am-i {
  //font-family: 'Carrois Gothic SC', sans-serif;
  font-family: "Baloo Chettan 2", cursive;
  p {
    font-weight: 600;
  }
  background: rgb(244, 243, 243);
  background: linear-gradient(
    0deg,
    rgba(244, 243, 243, 1) 0%,
    rgba(108, 117, 125, 1) 100%
  );
  .stack-big {
    font-size: 20px;
    font-weight: lighter;
  }
}

.projects {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana;
  a:hover {
    color: rgb(44, 44, 44);
  }
  li {
    background: rgb(244, 243, 243);
    background: linear-gradient(
      0deg,
      rgba(108, 117, 125, 1) 0%,
      rgba(244, 243, 243, 1) 100%
    );
  }
}

.text-jamilia {
  color: #f4f3f3;
}

.badge-jamilia {
  background-color: #f4f3f3;
  color: rgb(121, 135, 148);
}

.bg-jamilia {
  background-color: rgb(121, 135, 148);
  color: #f4f3f3;
}

#vesika {
  max-width: 170px;
}
#photo-big {
  max-width: 250px;
}

.contact-card {
  h2 {
    font-size: 18px;
  }
  p {
    text-transform: uppercase;
  }
}

.social-media-links a {
  color: rgb(44, 44, 44);
  :hover {
    color: #6c757d;
  }
  i {
    font-size: 35px;
    width: 50px;
    height: 50px;
  }
}

.media .project-visual {
  width: 100px;
  height: 100px;
}
