html * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

html a:hover {
  text-decoration: none;
}

body {
  min-width: 330px;
}

body .left-bar {
  padding-right: 45px;
  padding-left: 45px;
}

body .left-bar .my-school {
  color: #52A6E6;
}

body .left-bar .my-university {
  color: #52A6E6;
}

body .left-bar .social-media-links a {
  color: #52A6E6;
}

body .left-bar .say-hello {
  background-color: #52A6E6;
  color: white;
  height: auto;
}

@media (min-width: 540px) {
  body .left-bar {
    padding-right: 60px;
    padding-left: 60px;
  }
  body .left-bar .my-name {
    font-size: 35px;
  }
}

@media (min-width: 720px) {
  body .left-bar {
    padding-right: 70px;
    padding-left: 70px;
  }
  body .left-bar .my-name {
    font-size: 5vw;
  }
  body .left-bar .my-motto, body .left-bar .skills {
    width: 80%;
  }
  body .left-bar .skills {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  body .left-bar {
    padding-right: 90px;
    padding-left: 90px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 42%;
  }
  body .left-bar .my-name {
    font-size: 3.5vw;
  }
  body .left-bar .my-motto,
  body .left-bar .skills {
    font-size: 1.2rem;
    width: 100%;
  }
}

@media (max-height: 620px) and (min-width: 992px) {
  body .left-bar {
    padding-top: 4%;
    padding-bottom: 1%;
  }
  body .left-bar .say-hello-wrapper {
    margin-bottom: 0;
    padding: 0;
  }
  body .left-bar .say-hello {
    margin-bottom: 0;
    padding: 0;
  }
  body .left-bar .my-motto p {
    font-size: 1.1rem;
  }
  body .left-bar .my-name {
    font-size: 2.7rem;
  }
  body .left-bar .skills .badge {
    font-size: 0.9rem;
  }
}

body .btn-hello {
  width: 175px;
}

body .my-name {
  color: #4a4a4a;
  font-weight: bolder;
}

body .skills .badge {
  color: white;
  background-color: #52A6E6;
  font-weight: 200;
  text-transform: uppercase;
}

body .my-motto {
  color: #333;
  font-weight: 300;
}

body .social-media-links {
  width: 175px;
  font-size: 33px;
}

body section {
  height: auto;
  width: 100%;
  font-weight: 300;
}

body section .badges .badge {
  font-weight: 200;
}

@media (max-width: 540px) {
  body section .badges .badge {
    font-size: 2.5vw;
  }
}

body section a .fas,
body section a .fab {
  font-size: 20px;
  color: white;
}

body section a .fas:hover,
body section a .fab:hover {
  color: #20677a;
}

@media (min-width: 720px) {
  body section {
    height: auto;
    padding-top: calc( 12vh);
  }
}

@media (min-width: 992px) {
  body section {
    height: 105vh;
    min-height: 520px;
    padding-top: calc( 13vh);
  }
}

body section .overcapture {
  height: auto;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

@media (min-width: 992px) {
  body section .overcapture {
    padding-bottom: 0;
    padding-top: 0;
    height: 80%;
  }
}

body section .overcapture img {
  margin: 0 auto;
  margin-top: 3vh;
  width: 95vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

@media (min-width: 992px) {
  body section .overcapture img {
    width: 45vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
}

body section .project-spesific-skills .badge {
  color: white;
}

body section .project-spesific-skills div {
  text-transform: uppercase;
}

body .articles a .fas,
body .articles a .fab {
  color: #292929;
}

body .articles a .fas:hover,
body .articles a .fab:hover {
  color: black;
}

body .project1 {
  background-color: #52A6E6;
}

body .project1 .project-spesific-skills .badge {
  background-color: #20425c;
}

body .project1 a .fas:hover,
body .project1 a .fab:hover {
  color: #20425c;
}

body .project2 {
  background-color: #EC5242;
}

body .project2 .project-spesific-skills .badge {
  background-color: #a31000;
}

body .project2 a .fas:hover,
body .project2 a .fab:hover {
  color: #a31000;
}

body .project3 {
  background-color: #0481C9;
}

body .project3 .project-spesific-skills .badge {
  background-color: #003e61;
}

body .project3 a .fas:hover,
body .project3 a .fab:hover {
  color: #003e61;
}

body .project4 {
  background-color: #ED4631;
}

body .project4 .project-spesific-skills .badge {
  background-color: #941001;
}

body .project4 a .fas:hover,
body .project4 a .fab:hover {
  color: #941001;
}

body .project5 {
  background-color: #D3B4EA;
}

body .project5 .project-spesific-skills .badge {
  background-color: white;
}

body .project5 a .fas:hover,
body .project5 a .fab:hover {
  color: white;
}

body .project6 {
  background-color: #D3B4EA;
}

body .project6 .project-spesific-skills .badge {
  background-color: white;
}

body .project6 a .fas:hover,
body .project6 a .fab:hover {
  color: white;
}

body .articles {
  background-color: #F4F3F3;
  color: #292929;
  padding-bottom: 15%;
}

@media (max-width: 720px) {
  body .articles {
    padding-top: calc( 12vh);
  }
}

body .articles a .fas:hover {
  color: #6C757D;
}

body .footer {
  color: white;
  background-color: #292929;
}

body .thanks {
  font-family: sans-serif;
  font-size: 8px;
}
/*# sourceMappingURL=main.css.map */